* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 2vmin;
    font-family: sans-serif;
}

header {
    padding-bottom: 3vmin;
}

#messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 4vmin 0;
}

#messages strong {
    margin-right: 0.5em;
}

#messages strong:after {
    content: ":";
}





